# yii console commands
/htdocs/yii
/htdocs/yii_test
/htdocs/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
/htdocs/nbproject

# zend studio for eclipse project files
/htdocs/.buildpath
/htdocs/.project
/htdocs/.settings

# windows thumbnail cache
/htdocs/Thumbs.db

# composer vendor dir
/htdocs/vendor

# composer itself is not needed
/htdocs/composer.phar

# Mac DS_Store Files
/htdocs/.DS_Store

# phpunit itself is not needed
/htdocs/phpunit.phar
# local phpunit config
/htdocs/phpunit.xml

# vagrant runtime
/htdocs/.vagrant

/htdocs/composer.lock